<html lang='en'>
  <head>
    <title>
      Slack page practice
    </title>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <link href='css/normalize.css' rel='stylesheet' />

    {{! Підключення Bootstrap }}
    {{! <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD'
      crossorigin='anonymous'
    /> }}

    <link href='css/slack.css' rel='stylesheet' />
    <title>Document</title>
  </head>

  <body class='page'>
    <main class='page-content'>
      <section class='page-section hero'>
        <div class='hero-block'>
          <div class='hero-content'>
            <div class='hero-info'>
              <div class='hero-header'>
                <p>slack features</p>
                <h1>One platform for your team and your work</h1>
              </div>
              <div class='hero-describe'>
                <p>All the features of Slack work together
                  so you can, too.</p>
                <div class='buttons'>
                  <a href='#' class='btn btn-fill'>try for
                    free</a>
                  <a href='#' class='btn btn-outline'>see
                    all features</a>
                </div>
              </div>
            </div>

          </div>
          <img
            src='../images/hero-full-ui.png'
            alt='image'
            class='hero-image'
          />
        </div>
        <div class='logo-list'>
          <img
            src='../images/icons/airbnb.png'
            alt=''
            class='logo-img'
          />
          <img
            src='../images/icons/intuit.png'
            alt=''
            class='logo-img'
          />
          <img
            src='../images/icons/newscorp.png'
            alt=''
            class='logo-img'
          />
          <img
            src='../images/icons/onemedical.png'
            alt=''
            class='logo-img'
          />
          <img
            src='../images/icons/sonos.png'
            alt=''
            class='logo-img'
          />
          <img
            src='../images/icons/us-va.png'
            alt=''
            class='logo-img'
          />
          <img
            src='../images/icons/target.png'
            alt=''
            class='logo-img'
          />
          <img
            src='../images/icons/uber.png'
            alt=''
            class='logo-img'
          />
        </div>
      </section>

      <section class='features feature-section'>

        <div class='features-describe'>
          <h2>Work more easily with everyone</h2>
          <p>Stay on the same page and make decisions faster
            by bringing all of your work communication into
            one place.</p>
        </div>
        <div class='features-cards'>
          <div class='card card-add-text'>
            <img
              src='../images/icons/svg-icons/connect.svg'
              alt='channels'
              class='feature-icon'
            />
            <span class='feature-name'>Connect</span>
            <p class='feature-text'>
              Collaborate with teams at other companies the
              same way you do with teams at your own.
            </p>
            <a href='#' class='arrow'></a>
          </div>
          <div class='card'>
            <img
              src='../images/icons/svg-icons/channels.svg'
              alt='channels'
              class='feature-icon'
            />
            <span class='feature-name'>Channels</span>
            <a href='#' class='arrow'></a>
          </div>
          <div class='card'>
            <img
              src='../images/icons/svg-icons/huddles.svg'
              alt='channels'
              class='feature-icon'
            />
            <span class='feature-name'>Huddles</span>
            <a href='#' class='arrow'></a>
          </div>
          <div class='card'>
            <img
              src='../images/icons/svg-icons/clips.svg'
              alt='channels'
              class='feature-icon'
            />
            <span class='feature-name'>Clips</span>
            <a href='#' class='arrow'></a>
          </div>
          <div class='card'>
            <img
              src='../images/icons/svg-icons/canvas.svg'
              alt='channels'
              class='feature-icon'
            />
            <span class='feature-name'>Canvas</span>
            <a href='#' class='arrow'></a>
          </div>
          <div class='card'>
            <img
              src='../images/icons/svg-icons/masseging.svg'
              alt='channels'
              class='feature-icon'
            />
            <span class='feature-name'>Messaging</span>
            <a href='#' class='arrow'></a>
          </div>
          <div class='card'>
            <img
              src='../images/icons/svg-icons/accessibility.svg'
              alt='channels'
              class='feature-icon'
            />
            <span class='feature-name'>Accessibiity</span>
            <a href='#' class='arrow'></a>
          </div>
        </div>

      </section>

      <section class='page-section need-section'>
        <div class='needs-head-block'>
          <h2 class='needs-title'>What you need, when you
            need it</h2>
          <p class='needs-text'>Spend less time shuffling
            tabs with a comprehensive message archive and
            all your work tools at your fingertips.</p>
        </div>
        <div class='needs-card-block'>
          <div class='card card-add-text'>
            <img
              src='../images/icons/svg-icons/integrations.svg'
              alt='apps & integrations'
              class='feature-icon'
            />
            <span class='feature-name'>Apps and Integrations</span>
            <p class='feature-text'>
              Streamline work by connecting Slack with other
              services like Google Drive, Office 365 and
              over 2,200 more.
            </p>
            <a href='#' class='arrow'></a>
          </div>
          <div class='card card-add-text'>
            <img
              src='../images/icons/svg-icons/workflow.svg'
              alt='overflow builder'
              class='feature-icon'
            />
            <span class='feature-name'>Workflow Builder</span>
            <p class='feature-text'>
              Automate routine actions and communication, so
              you can get back to the kind of work only
              humans can do.
            </p>
            <a href='#' class='arrow'></a>
          </div>
          <div class='card'>
            <img
              src='../images/icons/svg-icons/search.svg'
              alt='search'
              class='feature-icon'
            />
            <span class='feature-name'>Search</span>
            <a href='#' class='arrow'></a>
          </div>

          <div class='card'>
            <img
              src='../images/icons/svg-icons/files.svg'
              alt='files sharing'
              class='feature-icon'
            />
            <span class='feature-name'>File sharing</span>
            <a href='#' class='arrow'></a>
          </div>

        </div>

      </section>

      <section class='page-section feedback'>
        <div class='feedback-image'>
          <img
            src='../images/img-deliveroo.png'
            alt='work easy'
            class='feedback-image'
          />
        </div>
        <div class='feedback-customer'>
          <p class='feedback-text'>“The thing that keeps us
            connected the most is Slack. It’s a very
            immediate and straightforward method of
            communication, and really the only channel that
            people prefer and enjoy using.”</p>
          <img src='../images/deliveroo.png' alt='logo' />
          <p class='feedback-sign'>Will Sprunt, CIO,
            Deliveroo</p>
        </div>
      </section>

      <section class='page-section slack-about'>
        <h3 class='about-title'>Explore more about working
          in Slack</h3>
        <div class='about-cards'>
          <div class='about-card'>
            <img
              src='../images/slack-101.png'
              alt='slack-101'
            />
            <p class='image-title'>Slack Tutorials</p>
            <h3 class='about-describtion'>Slack 101</h3>
            <div class='card-link'>
              <span>Learn more</span>
              <img
                src='../images/icons/svg-icons/arrow-blue.svg'
                alt=''
              />
            </div>
          </div>
          <div class='about-card'>
            <img
              src='../images/slack-102.png'
              alt='slack-101'
            />
            <p class='image-title'>Slack vs. Email</p>
            <h3 class='about-describtion'>An easier, more
              organized way to work</h3>
            <div class='card-link'>
              <span>Learn more</span>
              <img
                src='../images/icons/svg-icons/arrow-blue.svg'
                alt=''
              />
            </div>
          </div>
          <div class='about-card'>
            <img
              src='../images/slack-103.png'
              alt='slack-101'
            />
            <p class='image-title'>Customer Stories</p>
            <h3 class='about-describtion'>How Fastly uses
              Slack Connect to wow enterprise customers</h3>
            <div class='card-link'>
              <span>Learn more</span>
              <img
                src='../images/icons/svg-icons/arrow-blue.svg'
                alt=''
              />
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>

</html>