/* var creating */
:root {
  --space-s: 12px;
  --space-m: 24px;
  --space-l: 36px;
  --lgcolor-: #5a5a5a;
  --blcolor-: #212529;
  --vtcolor-: #563d7c;
}

/* =============== */
.html {
  width: 1920px;
  height: 1020px;
}

.page {
  width: 100%;
  padding: 0px 12px;
  /* margin: 0px auto; */
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.page-content {
  margin: 0px auto;
  max-width: 1000px;
  background: #fff;
}
/* =============== */

header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  font-size: 16px;
  margin-bottom: 80px;
  border-bottom: 1px solid #dee2e6;
}
.header-nav {
  display: flex;
  justify-content: right;
  margin-right: -12px;
}
.link {
  padding: 0 12px;
}

footer {
  margin-top: 80px;
}

.footer-link-title {
  color: #212529;
  font-size: 20px;
}

.footer-link a {
  text-decoration: none;
  color: #6c757d;
}
.template-3 {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.hero-block {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}
.hero-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: center;
}
.hero-title {
  font-size: 50px;
  line-height: 120%;
  color: #5a5a5a;
  margin: 0px;
  margin-bottom: 0px; !important
}
.hero-text {
  font-size: 20px;
  line-height: 170%;
  color: #5a5a5a;
}
.hero-image {
  height: 500px;
  width: 500px;
  border-radius: 12px;
}

.blog {
  display: flex;
  justify-content: space-between;

}
.blog-item {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  max-width: 33%;
  width: 100%;
  align-items: center;
  padding: 0px 26px;
}
.blog-image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  justify-self: center;
}
.blog-title {
  font-size: 32px;
  color: #5A5A5A;  
}
.blog-text {
  font-size: 16px;
  line-height: 150%;
  color: #5A5A5A;  
  text-align: center;
}
.blog-item-button {
  display: inline-block;
  padding: 12px 16px;
  color: #FFFFFF;
  font-size: 16px;
  background-color: #6C757D;
  border-radius: 4px;
  text-decoration: none;
}
.blog-item-button:hover {
  background-color:#717a81 ;
}

.form {
  background-color: var(--vtcolor-);
  padding: 24px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  align-items: center;
}
.form-title {
  color: #FFFFFF;
  font-size: 26px;
}
.form-text {
  color: #ffffff;
  opacity: 50%;
  margin: 0px;
}
.form-button {
  color: #212529;
  background-color: #fff;
  /* display: block; */
  padding: 12px 50px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
}

.template-4 {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 1000px;
  width: 100%;
}
.main-block {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 80px;
}
.main-image {
   height: 500px;
   width: 500px;
   border-radius: 12px;
}
.main-description {
   display: flex;
   flex-direction: column;
   gap: 24px;
}
.main-description-title {
   font-size: 36px;
   line-height: 120%;
   font-weight: 600;
   color: var(--lgcolor-);
}
.main-description-text {
   font-size: 16px;
   line-height: 170%;
   color: var(--lgcolor-);
}
.main-button {
   /* display: inline-block; */
   text-decoration: none;
   background-color: #6C757D;
   padding: 12px 16px;
   color: #fff;
   border-radius: 4px;
   font-size: 16px;
}

.featured-block {
   display: flex;
   padding-bottom: 40px;

}
.featured-card {
   width: 33%;
   height: 100%;
   padding: 0px 26px;
   display: flex;
   flex-direction: column;
   gap: 24px;
}
.featured-link {
   color: #0D6EFD;
   font-size: 16px;
}
.featured-title {
   font-size: 30px;
   font-weight: 600;
   color: #212529;
}
.featured-text {
   font-size: 16px;
   line-height: 170%;
   color: #212529;
}
.featured-image {
   height: 64px;
   width: 64px;
   border-radius: 12px;
}

.action-block {
   display: flex;
   justify-content: space-between;
   padding: 24px;
   background-color: var(--vtcolor-);
   border-radius: 12px;
}
.action-card {
   display: flex;
   flex-direction: column;
   gap: 12px;
}
.action-title {
   font-size: 24px;
   line-height: 16px;
   color: #fff;
}
.action-button {
   width: 100%;
   border-radius: 5px;
   background-color: #FFFFFF;
   padding: 16px 75px;
   text-decoration: none;
   justify-content: center;
}
.action-button-link {
   text-decoration: none;
   color: var(--blcolor-);
   font-size: 20px;
}